/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 24px;
  background-color: var(--bg-oxford-blue-2);
  z-index: 4;
}

.header.active {
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-prussian-blue);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-open-btn,
.nav-close-btn {
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
}

.navbar {
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-oxford-blue-2);
  padding: 30px;
  z-index: 2;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(-340px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  margin-block-end: 15px;
  border-block-end: 1px solid var(--border-prussian-blue);
}

.navbar-list {
  border-block-end: 1px solid var(--border-white-alpha-15);
}

.navbar-link {
  color: var(--text-alice-blue);
  font-weight: var(--weight-medium);
  padding-block: 10px;
}

.navbar-bottom {
  padding-block: 30px 20px;
  margin-block: 20px 25px;
  border-block: 1px solid var(--border-prussian-blue);
}

.navbar .profile-card {
  margin-block-end: 15px;
}

.navbar .profile-card .card-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
}

.navbar .profile-card .card-subtitle {
  font-size: var(--fontSize-7);
}

.navbar .link-list {
  columns: 2;
  -webkit-columns: 2;
}

.navbar-bottom-link {
  color: var(--text-alice-blue);
  font-size: var(--fontSize-6);
  padding-block: 6px;
}

.copyright-text {
  color: var(--text-alice-blue);
  font-size: var(--fontSize-8);
}

/*-----------------------------------*\
  #HOME
\*-----------------------------------*/

.home {
  justify-content: center;
  align-items: center;
}
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--bg-carolina-blue);
}

.hero {
  margin-top: 15px;
  /* height: 100vh; */
  text-align: center;
  padding: 100px 0;
}

.hero-title {
  font-size: 36px;
  color: var(--white);
  margin-bottom: 20px;
}

.hero-text {
  font-size: 18px;
  color: var(--white);
  margin-bottom: 40px;
}

.btn {
  padding: 10px 20px;
  background-color: var(--text-yellow-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--border-prussian-blue);
}

/*-----------------------------------*\
#TOPICS
\*-----------------------------------*/

.topics {
  margin-bottom: 100px;
}

.topics-container {
  margin-top: 100px;
  padding-top: 110px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--bg-carolina-blue);
}

.topic-list {
  display: flex;
  flex-wrap: wrap;
}

.topics-title {
  font-size: var(--fontSize-1);
  font-weight: 500;
  color: var(--white);
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.topic-card {
  margin: 5px 5px 5px 25px;
  box-shadow: 0 4px 10px var(--bg-oxford-blue-2);
  padding: 30px;
  border-radius: 10px;
  flex: 1;
  margin: 0 10px;
}

.topic-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.topic-title {
  font-size: 24px;
  color: var(--text-columbia-blue);
  margin-bottom: 10px;
}

.topic-description {
  color: var(--bg-carolina-blue);
}

/*-----------------------------------*\
#FEATURED
\*-----------------------------------*/

.featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 40px 0;
  margin: 100px 0 40px 0;
  border-bottom: 1px solid var(--bg-carolina-blue);
}
.featured-container {
  display: flex;
  color: var(--text-columbia-blue);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featured-container span {
  color: var(--bg-carolina-blue);
}

.featured-container h3 {
  font-size: var(--fontSize-1);
  font-weight: 500;
  color: var(--white);
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blog-box {
  width: 350px;
  background-color: var(--border-prussian-blue);
  border: 1px solid white;
  margin: 20px;
}
.blog-img {
  box-shadow: 0 4px 10px var(--bg-oxford-blue-2);
  width: 100%;
  height: auto;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-3);
}

.blog-text .blog-title {
  font-size: var(--fontSize-5);
  font-weight: 500;
  color: var(--text-alice-blue);
}

.blog-text .blog-title:hover {
  color: var(--text-carolina-blue);
  transition: all ease 0.3s;
}

.blog-text p {
  color: var(--white);
  font-size: var(--fontSize-7);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog-text a {
  color: var(--bg-carolina-blue);
}

.blog-text a:hover {
  color: var(--gradient-2);
  transition: all ease 0.3s;
}

/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  padding-inline: 20px;
  border-radius: var(--radius-48);
  color: var(--text-wild-blue-yonder);
  margin-block-end: 24px;
}

.footer-top {
  display: grid;
  gap: 20px;
}

.footer-brand .footer-text {
  font-size: var(--fontSize-6);
}

.footer-text:not(.address) {
  margin-block: 20px;
}

.footer-brand .footer-list-title {
  margin-block-end: 2px;
}

.footer-list-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-3);
  margin-block-end: 30px;
}

.footer-list ul {
  columns: 2;
}

.footer-link {
  margin-block-end: 12px;
}

.footer .input-wrapper {
  position: relative;
  margin-block-end: 24px;
}

.footer .input-field {
  padding: 12px;
  padding-inline-start: 20px;
  border-block-end: 1px solid var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
}

.footer .input-field::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.footer .input-wrapper ion-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  --ionicon-stroke-width: 40px;
}

.footer-bottom {
  border-block-start: 1px solid var(--border-prussian-blue);
  padding-block: 50px;
}

.copyright {
  text-align: center;
  margin-block-end: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--text-carolina-blue);
  font-style: italic;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  color: var(--text-carolina-blue);
  transform: translateY(-2px);
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-prussian-blue);
  color: var(--white);
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 3px solid var(--bg-carolina-blue);
  transition: var(--transition-1);
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
}

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}
