button {
  padding: 8px 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--bg-christine);
  border: 2px solid var(--border-indian-khaki);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--text-Serenade);
  color: var(--bg-christine);
}
/* FontAwesome icons */
svg {
  margin-right: 5px;
}
